
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySightseeingLabel">Create or edit a Sightseeing</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sightseeing.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sightseeing.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.sightseeing.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_info">Info</label>
            <input type="text" class="form-control" name="info" id="field_info"
                    ng-model="vm.sightseeing.info"
                    required />
            <div ng-show="editForm.info.$invalid">
                <p class="help-block"
                    ng-show="editForm.info.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.sightseeing.latitude"
                    required />
            <div ng-show="editForm.latitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.latitude.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.latitude.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.sightseeing.longitude"
                    required />
            <div ng-show="editForm.longitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.longitude.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.longitude.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_photo">Photo</label>
            <input type="text" class="form-control" name="photo" id="field_photo"
                    ng-model="vm.sightseeing.photo"
                    required />
            <div ng-show="editForm.photo.$invalid">
                <p class="help-block"
                    ng-show="editForm.photo.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                    ng-model="vm.sightseeing.rating"
                    required />
            <div ng-show="editForm.rating.$invalid">
                <p class="help-block"
                    ng-show="editForm.rating.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.rating.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="diplomaApp.sightseeing.votes_count" for="field_votes_count">Votes Count</label>
            <input type="number" class="form-control" name="votes_count" id="field_votes_count"
                    ng-model="vm.sightseeing.votes_count"
                     />
        </div>

        <div class="form-group">
            <label for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.sightseeing.category" ng-options="category as category.id for category in vm.categories track by category.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_region">Region</label>
            <select class="form-control" id="field_region" name="region" ng-model="vm.sightseeing.region" ng-options="region as region.id for region in vm.regions track by region.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
